<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730306637186-omnpjci349sl843mqjddjtf028h82kql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730306637186-omnpjci349sl843mqjddjtf028h82kql</string>
	<key>API_KEY</key>
	<string>AIzaSyBxTuzLqSxY3D_twEYN5VNEMgs2p3etX98</string>
	<key>GCM_SENDER_ID</key>
	<string>730306637186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.Prizega.TidyNotes</string>
	<key>PROJECT_ID</key>
	<string>tidynotes-5853c</string>
	<key>STORAGE_BUCKET</key>
	<string>tidynotes-5853c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730306637186:ios:5a3a37ac8525189dd2339b</string>
</dict>
</plist>